<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>R</key>
	<dict>
		<key>public.kern2.O</key>
		<integer>-40</integer>
	</dict>
	<key>V</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-100</integer>
		<key>public.kern2.C</key>
		<integer>-40</integer>
		<key>public.kern2.O</key>
		<integer>-40</integer>
		<key>public.kern2.a</key>
		<integer>-60</integer>
		<key>public.kern2.e</key>
		<integer>-60</integer>
		<key>public.kern2.o</key>
		<integer>-60</integer>
		<key>public.kern2.u</key>
		<integer>-40</integer>
	</dict>
	<key>W</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-100</integer>
		<key>public.kern2.C</key>
		<integer>-40</integer>
		<key>public.kern2.O</key>
		<integer>-40</integer>
		<key>public.kern2.a</key>
		<integer>-60</integer>
		<key>public.kern2.e</key>
		<integer>-60</integer>
		<key>public.kern2.o</key>
		<integer>-60</integer>
		<key>public.kern2.u</key>
		<integer>-40</integer>
	</dict>
	<key>X</key>
	<dict>
		<key>public.kern2.C</key>
		<integer>-40</integer>
		<key>public.kern2.O</key>
		<integer>-40</integer>
	</dict>
	<key>Y</key>
	<dict>
		<key>public.kern2.C</key>
		<integer>-40</integer>
		<key>public.kern2.O</key>
		<integer>-40</integer>
		<key>public.kern2.a</key>
		<integer>-60</integer>
		<key>public.kern2.e</key>
		<integer>-60</integer>
		<key>public.kern2.o</key>
		<integer>-60</integer>
		<key>public.kern2.u</key>
		<integer>-40</integer>
	</dict>
	<key>f</key>
	<dict>
		<key>public.kern2.a</key>
		<integer>-10</integer>
		<key>public.kern2.e</key>
		<integer>-10</integer>
		<key>public.kern2.o</key>
		<integer>-20</integer>
	</dict>
	<key>public.kern1.A1</key>
	<dict>
		<key>V</key>
		<integer>-100</integer>
		<key>W</key>
		<integer>-100</integer>
	</dict>
	<key>public.kern1.O1</key>
	<dict>
		<key>V</key>
		<integer>-40</integer>
		<key>W</key>
		<integer>-40</integer>
		<key>X</key>
		<integer>-40</integer>
		<key>Y</key>
		<integer>-40</integer>
	</dict>
	<key>public.kern1.a1</key>
	<dict>
		<key>public.kern2.v</key>
		<integer>-10</integer>
		<key>y</key>
		<integer>-10</integer>
	</dict>
	<key>public.kern1.m</key>
	<dict>
		<key>public.kern2.v</key>
		<integer>-20</integer>
		<key>y</key>
		<integer>-20</integer>
	</dict>
	<key>public.kern1.o1</key>
	<dict>
		<key>public.kern2.v</key>
		<integer>-10</integer>
		<key>y</key>
		<integer>-10</integer>
	</dict>
	<key>public.kern1.v1</key>
	<dict>
		<key>public.kern2.a</key>
		<integer>-20</integer>
		<key>public.kern2.e</key>
		<integer>-20</integer>
		<key>public.kern2.o</key>
		<integer>-20</integer>
	</dict>
	<key>y</key>
	<dict>
		<key>public.kern2.a</key>
		<integer>-20</integer>
		<key>public.kern2.e</key>
		<integer>-20</integer>
		<key>public.kern2.o</key>
		<integer>-20</integer>
	</dict>
</dict>
</plist>
