<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.schriftgestaltung.disablesAutomaticAlignment</key>
	<false/>
	<key>com.schriftgestaltung.font.userData</key>
	<dict>
		<key>GSDimensionPlugin.Dimensions</key>
		<dict>
			<key>D5CE4092-6C3D-4DFD-BA85-5267E1211B21</key>
			<dict>
				<key>HH</key>
				<integer>100</integer>
				<key>HV</key>
				<integer>100</integer>
				<key>OH</key>
				<integer>100</integer>
				<key>OV</key>
				<integer>100</integer>
				<key>nV</key>
				<integer>100</integer>
				<key>oH</key>
				<integer>100</integer>
				<key>oV</key>
				<integer>100</integer>
				<key>tH</key>
				<integer>99</integer>
			</dict>
		</dict>
	</dict>
	<key>com.schriftgestaltung.fontMaster.customParameters</key>
	<array>
		<dict>
			<key>name</key>
			<string>subscriptXOffset</string>
			<key>value</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>subscriptXSize</string>
			<key>value</key>
			<integer>700</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>subscriptYOffset</string>
			<key>value</key>
			<integer>140</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>subscriptYSize</string>
			<key>value</key>
			<integer>650</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>superscriptXOffset</string>
			<key>value</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>superscriptXSize</string>
			<key>value</key>
			<integer>700</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>superscriptYOffset</string>
			<key>value</key>
			<integer>477</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>superscriptYSize</string>
			<key>value</key>
			<integer>650</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>TTFZones</string>
			<key>value</key>
			<array>
				<dict>
					<key>name</key>
					<string>t: 0</string>
					<key>pos</key>
					<real>500.0</real>
					<key>size</key>
					<real>0.0</real>
				</dict>
				<dict>
					<key>name</key>
					<string>t: 1</string>
					<key>pos</key>
					<real>800.0</real>
					<key>size</key>
					<real>0.0</real>
				</dict>
				<dict>
					<key>name</key>
					<string>b: 0</string>
					<key>pos</key>
					<real>0.0</real>
					<key>size</key>
					<real>0.0</real>
				</dict>
				<dict>
					<key>name</key>
					<string>b: 1</string>
					<key>pos</key>
					<real>-200.0</real>
					<key>size</key>
					<real>0.0</real>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>TTFStems</string>
			<key>value</key>
			<array>
				<dict>
					<key>horizontal</key>
					<true/>
					<key>name</key>
					<string>Y: 100</string>
					<key>width</key>
					<real>100.0</real>
				</dict>
				<dict>
					<key>horizontal</key>
					<false/>
					<key>name</key>
					<string>X: 100</string>
					<key>width</key>
					<real>100.0</real>
				</dict>
			</array>
		</dict>
	</array>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>D5CE4092-6C3D-4DFD-BA85-5267E1211B21</string>
	<key>com.schriftgestaltung.glyphOrder</key>
	<false/>
	<key>com.schriftgestaltung.master.name</key>
	<string>School</string>
	<key>com.schriftgestaltung.useNiceNames</key>
	<true/>
	<key>com.schriftgestaltung.weightValue</key>
	<integer>400</integer>
	<key>public.glyphOrder</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Aring</string>
		<string>Atilde</string>
		<string>AE</string>
		<string>B</string>
		<string>C</string>
		<string>Ccedilla</string>
		<string>D</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Egrave</string>
		<string>F</string>
		<string>G</string>
		<string>H</string>
		<string>I</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Igrave</string>
		<string>J</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>Ntilde</string>
		<string>O</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Oslash</string>
		<string>Otilde</string>
		<string>OE</string>
		<string>P</string>
		<string>Q</string>
		<string>R</string>
		<string>S</string>
		<string>T</string>
		<string>U</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>Utilde</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ydieresis</string>
		<string>Ygrave</string>
		<string>Z</string>
		<string>Aacute.ss01</string>
		<string>Acircumflex.ss01</string>
		<string>Adieresis.ss01</string>
		<string>Agrave.ss01</string>
		<string>Aring.ss01</string>
		<string>Atilde.ss01</string>
		<string>Eacute.ss01</string>
		<string>Ecircumflex.ss01</string>
		<string>Edieresis.ss01</string>
		<string>Egrave.ss01</string>
		<string>Iacute.ss01</string>
		<string>Icircumflex.ss01</string>
		<string>Idieresis.ss01</string>
		<string>Igrave.ss01</string>
		<string>Ntilde.ss01</string>
		<string>Oacute.ss01</string>
		<string>Ocircumflex.ss01</string>
		<string>Odieresis.ss01</string>
		<string>Ograve.ss01</string>
		<string>Otilde.ss01</string>
		<string>Uacute.ss01</string>
		<string>Ucircumflex.ss01</string>
		<string>Udieresis.ss01</string>
		<string>Ugrave.ss01</string>
		<string>Utilde.ss01</string>
		<string>Yacute.ss01</string>
		<string>Ydieresis.ss01</string>
		<string>Ygrave.ss01</string>
		<string>a</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>aring</string>
		<string>atilde</string>
		<string>ae</string>
		<string>b</string>
		<string>c</string>
		<string>ccedilla</string>
		<string>d</string>
		<string>e</string>
		<string>eacute</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>egrave</string>
		<string>f</string>
		<string>g</string>
		<string>h</string>
		<string>i</string>
		<string>dotlessi</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>igrave</string>
		<string>j</string>
		<string>k</string>
		<string>l</string>
		<string>m</string>
		<string>n</string>
		<string>ntilde</string>
		<string>o</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>oslash</string>
		<string>oslashacute</string>
		<string>otilde</string>
		<string>oe</string>
		<string>p</string>
		<string>q</string>
		<string>r</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>s</string>
		<string>germandbls</string>
		<string>t</string>
		<string>u</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
		<string>v</string>
		<string>w</string>
		<string>x</string>
		<string>y</string>
		<string>yacute</string>
		<string>ydieresis</string>
		<string>z</string>
		<string>fi</string>
		<string>ordmasculine</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>fraction</string>
		<string>onehalf</string>
		<string>onethird</string>
		<string>twothirds</string>
		<string>onequarter</string>
		<string>threequarters</string>
		<string>oneeighth</string>
		<string>threeeighths</string>
		<string>fiveeighths</string>
		<string>seveneighths</string>
		<string>CR</string>
		<string>.notdef</string>
		<string>space</string>
		<string>period</string>
		<string>comma</string>
		<string>colon</string>
		<string>semicolon</string>
		<string>ellipsis</string>
		<string>exclam</string>
		<string>exclamdown</string>
		<string>question</string>
		<string>questiondown</string>
		<string>periodcentered</string>
		<string>bullet</string>
		<string>asterisk</string>
		<string>exclamdbl</string>
		<string>numbersign</string>
		<string>slash</string>
		<string>backslash</string>
		<string>hyphen</string>
		<string>endash</string>
		<string>emdash</string>
		<string>underscore</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>braceleft</string>
		<string>braceright</string>
		<string>bracketleft</string>
		<string>bracketright</string>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>guillemotleft</string>
		<string>guillemotright</string>
		<string>guilsinglleft</string>
		<string>guilsinglright</string>
		<string>quotedbl</string>
		<string>quotesingle</string>
		<string>at</string>
		<string>ampersand</string>
		<string>paragraph</string>
		<string>section</string>
		<string>trademark</string>
		<string>degree</string>
		<string>bar</string>
		<string>brokenbar</string>
		<string>dagger</string>
		<string>daggerdbl</string>
		<string>Euro</string>
		<string>cent</string>
		<string>currency</string>
		<string>dollar</string>
		<string>sterling</string>
		<string>yen</string>
		<string>plus</string>
		<string>minus</string>
		<string>multiply</string>
		<string>divide</string>
		<string>equal</string>
		<string>notequal</string>
		<string>greater</string>
		<string>less</string>
		<string>greaterequal</string>
		<string>lessequal</string>
		<string>plusminus</string>
		<string>approxequal</string>
		<string>asciitilde</string>
		<string>asciicircum</string>
		<string>infinity</string>
		<string>uni2206</string>
		<string>mu</string>
		<string>percent</string>
		<string>perthousand</string>
		<string>dieresis</string>
		<string>grave</string>
		<string>acute</string>
		<string>circumflex</string>
		<string>caron</string>
		<string>ring</string>
		<string>tilde</string>
		<string>cedilla</string>
		<string>NULL</string>
		<string>vtf</string>
	</array>
	<key>public.postscriptNames</key>
	<dict>
		<key>NULL</key>
		<string>.null</string>
		<key>mu</key>
		<string>uni00B5</string>
		<key>onethird</key>
		<string>uni2153</string>
		<key>twothirds</key>
		<string>uni2154</string>
	</dict>
</dict>
</plist>
